* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Nunito, sans-serif;
  background-color: #d0c9b7;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color:#e6dfcc;
  height: 100px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

header > img {
  width: 80px;
  height: 80px;
}

header > h1 {
  font-size: 2.0rem;
  font-weight: 500;
  color: #c49a60;
}

main {
  padding: 30px 30px 10px;
}

.add-ingredient-form {
  display: flex;
  justify-content: center;
  gap: 15px; 
  height: 40px;
}

.add-ingredient-form > input {
  border-radius: 8px;
  border: 1px solid #897c69;
  padding: 10px 15px;
  box-shadow: 0px 1px 2 px 0 px rgba(0, 0, 0, 0.05);
  flex-grow: 1;
  min-width: 150px;
  max-width:800px;
}

.add-ingredient-form > button {
  font-family: Nunito, sans-serif;
  border-radius: 6px;
  border: none;
  background-color: #918a81;
  color: #FAFAF8;
  width: 150px;
  font-size: 0.9rem;
  font-weight: 350;
}

.add-ingredient-form > button::before {
  content: "+";
  margin-right: 5px;
}

input {
  background-color: #dedbcb;
  color: #ba9259;
  font-family: nunito;
  font-size: 1rem;
}

ul.ingredients-list {
  margin-bottom: 48px;
}

ul.ingredients-list > li {
  line-height: 28px;
  color: rgb(112, 94, 40);
}

.get-recipe-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background: #e8e6de;
  padding: 10px 28px;
}

.get-recipe-container h3 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 24px;
}

.get-recipe-container p {
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 20px;
}

.get-recipe-container button {
  border: none;
  border-radius: 6px;
  background: #c39383;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  color: #FAFAF8;
  padding: 9px 17px;
  font-family: nunito, sans-serif;
  font-size: 0.875rem;
  cursor: pointer;
}